/* Mono scheme */
:root {
    --color-neutral: #fff;
    /* Cool Gray */
    --color-neutral-50: #f8fafc;
    --color-neutral-100: #f1f5f9;
    --color-neutral-200: #e2e8f0;
    --color-neutral-300: #cbd5e1;
    --color-neutral-400: #94a3b8;
    --color-neutral-500: #64748b;
    --color-neutral-600: #475569;
    --color-neutral-700: #334155;
    --color-neutral-800: #1e293b;
    --color-neutral-900: #0f172a;
    /* Amber */
    --color-primary-50: #FFFBEB;
    --color-primary-100: #FEF3C7;
    --color-primary-200: #FDE68A;
    --color-primary-300: #FCD34D;
    --color-primary-400: #FBBF24;
    --color-primary-500: #F59E0B;
    --color-primary-600: #D97706;
    --color-primary-700: #B45309;
    --color-primary-800: #92400E;
    --color-primary-900: #78350F;
    /* Yellow */
  --color-secondary-50: #FEFCE8;
  --color-secondary-100: #FEF9C3;
  --color-secondary-200: #FEF08A;
  --color-secondary-300: #FDE047;
  --color-secondary-400: #FACC15;
  --color-secondary-500: #EAB308;
  --color-secondary-600: #CA8A04;
  --color-secondary-700: #A16207;
  --color-secondary-800: #854D0E;
  --color-secondary-900: #713F12;
  }